<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Basketball</title>
</head>

<body>
    <div class="nav">
        <h1>Basketball</h1>
        <div class="navright">
            <form action="/new">
                <button class="log_reg" id="create">+ Create Game</button>
            </form>
            <form action="/logout">
                <button class="log_reg">Logout</button>
            </form>
        </div>
    </div>

    <div class="body">
        <h1>All Games</h1>
        <div class="gamebox">
            <table>
                <thead>
                    <tr>
                        <th class="tableleft">Home Team vs Away Team</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody style="border: 1px solid black;">
                    {% for game in games %}
                    <tr>
                        <td class="tableleft"><a href="/view/{{game.id}}">{{game.hometeam}} vs {{game.awayteam}}</a></td>
                        {%if game.user_id == session.user_id%}
                        <td><a href="/edit/{{game.id}}">edit</a></td>
                        {%else%}
                        <td>
                            <form action="/view/{{game.id}}">
                                <button>View</button>
                            </form>
                        </td>
                        {%endif%}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h1>
        </div>
    </div>
</body>

</html>
