<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Basketball</title>
</head>
<body>
    <div class="nav">
        <h1>
            Basketball app
        </h1>
        <div class="navright">
            <form action="/">
                <button class="log_reg">Home</button>
            </form>
        </div>
    </div>
    <div class="form">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <h2>Register</h2>
        <form action="/register" method='POST'>
            <p class="input">First Name:</p>
            <input type="text" name="fname">
            <p class="input">Last Name:</p>
            <input type="text" name="lname">
            <p class="input">Email:</p>
            <input type="email" name="email">
            <p class="input">Password:</p>
            <input type="password" name="password">
            <p class="input">Confirm Password:</p>
            <input type="password" name="confpassword">
            <div class="formbottom">
                <a href="/loginform">already have an account?</a>
                <button class="log_reg">Register</button>                
            </div>

        </form>
    </div>
</body>
</html>