<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Basketball</title>
</head>

<body>
    <div class="nav">
        <h1>{{game.hometeam}} VS. {{game.awayteam}}</h1>
        <div class="navright">
            <form action="/dashboard">
                <button class="log_reg">Home</button>
            </form>
            <form action="/new">
                <button class="log_reg" id="create">+ Create Game</button>
            </form>
            <form action="/logout">
                <button class="log_reg">Logout</button>
            </form>
        </div>
    </div>
    <div class="gameview">
        {% if game.homescore > game.awayscore%}
            <h2>Winner: {{game.hometeam}}</h2>
            {%else%}
            <h2>Winner: {{game.awayteam}}</h2>
        {%endif%}
        <p>Home Team: {{game.hometeam}}</p>
        <p>Home Score: {{game.homescore}}</p>
        <p>Away Team: {{game.awayteam}}</p>
        <p>Away Score: {{game.awayscore}}</p>
    </div>

</body>

</html>