<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Basketball</title>
</head>

<body>
    <div class="nav">
        <h1>Bball title</h1>
        <div class="navright">
            <a href="/view">All Games</a>
            <a href="/new">+ Create Game</a>
            <form action="/logout">
                <button>Logout</button>
            </form>
        </div>
    </div>

    <div class="bottom">
        <h1>All Games</h1>
        <div class="gamebox">
            <table>
                <thead>
                    <tr>
                        <th>Home Team vs Away Team</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="border: 1px solid black;">
                    {% for game in games %}
                    <tr>
                        <td>{{game.hometeam}} vs {{game.awayteam}}</td>
                        <td><a href="/edit">edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>