*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    font-family: 'Anton', sans-serif;
    color: #EEF4FC;
    width: 100%;
    height: 100%;
    background-color: #111827;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.nav{
    background-color: #0E141E;
    border-bottom: solid 2px #3A3A40;
}

.navright{
    display: flex;
    justify-content: right;
    width: 20%;
    max-width: 400px;
    padding-right: 20px;
}
.navbtn, #delete{
    margin-left: 20px;
}

.navbtn button{
    background-color: #EEF4FC;
    color: #0E141E;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 75px;
    padding: 10px;
    border: 1px solid #3A3A40;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;

}

.content h2{
    font-size: 100px;
    font-weight: 600;

}
.content h3{
    font-size: 60px;
}

.form, .body{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
input, .input, .formbottom, .form, .body, table, .gameview h2, .gameview p{
    margin-top: 20px;
}
form{
    display: flex;
    flex-direction: column;
    

}

.formbottom a, td a{
    text-decoration: none;
    font-size: 15px;
    margin-right: 10px;
    color: #2d9ae2;
}

.log_reg{
    padding: 3px;
    margin-left: 20px;
    width: 75px;
    height: 25px;
}

#create{
    height: 25px;
    width: 120px;
}

th, td{
    padding: 15px;

}

.tableleft{
    border-right: 2px solid #EEF4FC;
}

.gameview{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.gameview h2{
    font-size: 50px;
}

.gameview p{
    font-size: 30px;
}




/*
 colors

    navy: #0E141E
    dark blue: #111827
    gray outline: #3A3A40
    subtle gray: #4A5262
*/